@use "variables";
@use "mixins";

.about {
  padding: 4rem 0;
  background: linear-gradient(135deg, #131c22 0%, #bb3166 200%);

  &__container::after {
    content: "";
    display: table;
    clear: both;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
    color: variables.$text-color-primary;

    @include mixins.respond-to(md) {
      font-size: 2.5rem;
      text-align: left;
    }
  }

  &__image-wrapper {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 2rem;

    @include mixins.respond-to(lg) {
      float: right;
      width: 45%;
      margin-left: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__paragraph {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: variables.$text-color-secondary;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
