@use "variables";
@use "mixins";

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: variables.$main-font;
  color: variables.$text-color-primary;
  background-color: variables.$bg-color;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include mixins.respond-to(xl) {
    max-width: variables.$breakpoint-xl;
  }
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    filter: brightness(90%);
    transform: scale(1.05);
  }
}
