@use "variables";
@use "mixins";

.concerts {
  padding: 4rem 0;

  &__table-wrapper {
    background-color: variables.$table-bg-color;
    border-radius: 0.5rem;
    overflow: hidden;

    @include mixins.respond-to(md) {
      overflow-x: auto;
    }
  }
}

.concerts-table {
  width: 100%;
  border-collapse: collapse;
  color: variables.$text-color-primary;

  &__caption {
    caption-side: top;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: variables.$text-color-primary;
    padding: 1.5rem 1rem;

    @include mixins.respond-to(md) {
      font-size: 2.5rem;
      padding: 1.5rem 1.5rem;
    }
  }

  @include mixins.respond-to(md) {
    min-width: 700px;
  }

  &__head {
    @include mixins.respond-to(md, "max") {
      display: none;
    }
  }

  &__header {
    padding: 1rem 1.5rem;
    text-align: left;
    font-weight: 500;
    color: variables.$text-color-secondary;
    border-bottom: 1px solid rgba(variables.$text-color-primary, 0.1);
    white-space: nowrap;
  }

  &__row {
    @include mixins.respond-to(md, "max") {
      display: block;
      padding: 1rem 0;
      border-bottom: 1px solid rgba(variables.$text-color-primary, 0.1);

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__data {
    padding: 0.75rem 1rem;
    vertical-align: middle;
    border-bottom: 1px solid rgba(variables.$text-color-primary, 0.05);

    @include mixins.respond-to(md, "max") {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: right;
      border-bottom: none;

      &::before {
        content: attr(data-label);
        font-weight: 500;
        text-align: left;
        color: variables.$text-color-secondary;
        margin-right: 1rem;
      }
    }

    @include mixins.respond-to(md) {
      padding: 1.25rem 1.5rem;
    }

    &--city {
      font-weight: 700;
      color: variables.$text-color-primary;
    }

    &--action {
      @include mixins.respond-to(md) {
        text-align: center;
      }
    }
  }

  .button--ticket {
    font-weight: bold;
    color: variables.$text-color-primary;
    background-color: variables.$accent-secondary;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    width: 100%;

    @include mixins.respond-to(md) {
      width: auto;
    }
  }
}
