@use "variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.4s ease;

  &.is-open {
    visibility: visible;
    opacity: 1;
  }

  &.is-hidden {
    display: none;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  &__content {
    position: relative;
    background-color: variables.$table-bg-color;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 90%;
    max-width: 500px;
    z-index: 101;
    transform: scale(0.9);
    transition: transform 0.3s ease;
  }

  &.is-open &__content {
    transform: scale(1);
  }

  &__close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    color: variables.$text-color-secondary;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: variables.$text-color-primary;
    }
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    text-align: center;
    color: variables.$text-color-secondary;
    margin-bottom: 2rem;
  }
}
