$main-font: "Roboto", sans-serif;

$bg-color: #0e0f12;

$text-color-primary: #ffffff;
$text-color-secondary: #aeb3be;
$text-color-accent: #4dd2ff;

$accent-primary: #feed48;
$accent-secondary: #f82c56;

$table-bg-color: #25282e;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
